<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}

        <label for="value">Value 1</label>
        <input type="text" name="num1"><br>
        <label for="value">Value 2</label>
        <input type="text" name="num2"><br>
        <button type="submit">Sumbit</button>
        <br>
        output
        <input type="text" value="{{output}}">

    </form>
    {% comment %} <div>{{output}}</div> {% endcomment %}
</body>
</html>